@charset "UTF-8";
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*
* css는 유료테마 ASKTHEME의 일부입니다. 불법복제시 불이익을 받을 수 있습니다.
* at_introduce.php
*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* 사업분야 */
.service-wrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.service-wrap::after {
  display: block;
  clear: both;
  content: "";
}

.service-wrap .service-img {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .service-wrap .service-img {
    margin-top: 5rem;
  }
}

.service-wrap .service-img img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  /*
            @include media-breakpoint-up(md){
                width:95%;
            }
            @include media-breakpoint-up(lg){
                width:90%;
            }
            @include media-breakpoint-up(lg){
                width:85%;
            }*/
}

.service-wrap .service-list1 {
  position: relative;
}

.service-wrap .service-list1 .service-item {
  visibility: hidden;
}

.service-wrap .service-list1 h2 {
  font-family: 'Noto Sans KR',sans-serif;
  font-weight: 600;
  color: #495057;
  font-size: 1rem;
}

.service-wrap .service-list1 p {
  font-size: .8rem;
  color: #6c757d;
  line-height: 170%;
}

.service-wrap .service-list1 .col-sm-12 {
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .service-wrap {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .service-wrap {
    width: 100%;
  }
}

.service-wrap .service-list2 .service-list2-parallax {
  background-image: url(../img/bg_gray.jpg);
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow: hidden;
  min-height: 800px;
}

@media (min-width: 992px) {
  .service-wrap .service-list2 .service-list2-parallax {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.service-wrap .service-list2 .service-list2-parallax .section-header {
  padding-bottom: 5rem;
}

.service-wrap .service-list2 .service-list2-parallax .section-header h2 {
  color: #f8f9fa;
  text-align: center;
  font-family: "Noto Sans KR",sans-serif;
  font-weight: 900;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.service-wrap .service-list2 .service-list2-parallax .section-header p {
  color: #f8f9fa;
  font-size: .9rem;
}

.service-wrap .service-list2 .service-list2-parallax .area-card {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

.service-wrap .service-list2 .service-list2-parallax .area-card .card {
  border: none;
  margin-bottom: 1rem;
  visibility: hidden;
}

@media (min-width: 768px) {
  .service-wrap .service-list2 .service-list2-parallax .area-card .card {
    margin-bottom: 0;
  }
}

.service-wrap .service-list2 .service-list2-parallax .area-card .card .card-img-top {
  height: auto;
  min-height: auto;
  max-height: 261px;
}

@media (min-width: 992px) {
  .service-wrap .service-list2 .service-list2-parallax .area-card .card .card-img-top {
    max-height: auto;
  }
}

.service-wrap .service-list2 .service-list2-parallax .area-card .card .card-title {
  font-family: "Noto Sans KR",sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  color: #495057;
}

.service-wrap .service-list2 .service-list2-parallax .area-card .card .card-text {
  font-size: .85rem;
  color: #6c757d;
}

.service-wrap #at-service-carousel .carousel-item {
  overflow: hidden;
}

.service-wrap #at-service-carousel .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 100%;
}

.service-wrap #at-service-carousel .caption .big-title {
  visibility: hidden;
  text-align: center;
  width: 100%;
  display: block;
  position: relative;
  margin-top: 2.2rem;
}

@media (min-width: 320px) {
  .service-wrap #at-service-carousel .caption .big-title {
    margin-top: 4rem;
  }
}

@media (min-width: 375px) {
  .service-wrap #at-service-carousel .caption .big-title {
    margin-top: 4.7rem;
  }
}

@media (min-width: 425px) {
  .service-wrap #at-service-carousel .caption .big-title {
    margin-top: 5.7rem;
  }
}

@media (min-width: 576px) {
  .service-wrap #at-service-carousel .caption .big-title {
    margin-top: 3.2rem;
  }
}

@media (min-width: 768px) {
  .service-wrap #at-service-carousel .caption .big-title {
    margin-top: 7.8rem;
  }
}

@media (min-width: 992px) {
  .service-wrap #at-service-carousel .caption .big-title {
    margin-top: 10rem;
  }
}

.service-wrap #at-service-carousel .caption .big-title h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  font-size: 1.2rem;
}

@media (min-width: 320px) {
  .service-wrap #at-service-carousel .caption .big-title h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 375px) {
  .service-wrap #at-service-carousel .caption .big-title h1 {
    font-size: 1.75rem;
  }
}

@media (min-width: 425px) {
  .service-wrap #at-service-carousel .caption .big-title h1 {
    font-size: 1.75rem;
  }
}

@media (min-width: 768px) {
  .service-wrap #at-service-carousel .caption .big-title h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  .service-wrap #at-service-carousel .caption .big-title h1 {
    font-size: 3rem;
  }
}

.service-wrap #at-service-carousel .caption .big-title p {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 1px black;
  font-size: .8rem;
  display: none;
}

@media (min-width: 576px) {
  .service-wrap #at-service-carousel .caption .big-title p {
    display: block;
    font-size: .85rem;
  }
}

@media (min-width: 768px) {
  .service-wrap #at-service-carousel .caption .big-title p {
    display: block;
    font-size: .95rem;
  }
}

@media (min-width: 992px) {
  .service-wrap #at-service-carousel .caption .big-title p {
    display: block;
    font-size: 1rem;
  }
}

.service-wrap #at-service-carousel .caption .fadeInUp {
  visibility: visible;
}

.service-wrap .at-service-card .flip-cards {
  text-align: center;
}

.service-wrap .at-service-card .front-card {
  background-color: #e9ecef;
  padding: 1.2rem;
}

.service-wrap .at-service-card .reverse-card {
  background-color: #495057;
  padding: 1.2rem;
  color: #fff;
}

.service-wrap .at-service-card .reverse-card .fa {
  color: #343a40 !important;
}

.service-wrap .at-service-card .reverse-card .round-icon-bg {
  background-color: #fff !important;
}

.service-wrap .at-service-card .flip-card-header {
  text-align: center;
  border-bottom: none;
  padding: .5rem;
}

.service-wrap .at-service-card .flip-card-header .fa {
  color: #f8f9fa;
}

.service-wrap .at-service-card .flip-card-header .round-icon-bg {
  width: 66px;
  height: 66px;
}

.service-wrap .at-service-card .flip-card-body {
  font-size: .75rem;
  padding-top: 0;
  padding: .5rem;
}

.service-wrap .at-service-card .flip-card-body .flip-card-title {
  text-align: center;
  font-family: "Noto Sans KR",sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
/*# sourceMappingURL=at_service.css.map */