@charset "UTF-8";
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*
* css는 유료테마 ASKTHEME의 일부입니다. 불법복제시 불이익을 받을 수 있습니다.
* Board Webzine 
*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.board-table-wrap {
  margin: 1.5rem auto;
}

/* 게시판 목록 */
.board-list-wrap::after {
  display: block;
  clear: both;
  content: "";
}

.board-list-wrap #bo_list {
  margin: 0 auto;
}

.board-list-wrap .board-list-head::after {
  display: block;
  clear: both;
  content: "";
}

.board-list-wrap .board-list-head span {
  display: none;
}

@media (min-width: 768px) {
  .board-list-wrap .board-list-head span {
    display: inline;
  }
}

.board-list-wrap .board-info-wrap::after {
  display: block;
  clear: both;
  content: "";
}

.board-list-wrap .board-table-wrap thead th {
  text-align: center;
}

.board-list-wrap .board-table-wrap td:not(.co-3) {
  text-align: center;
}

.board-list-wrap .board-table-wrap .co-1 {
  white-space: nowrap;
}

.board-list-wrap .board-table-wrap .co-3 img + img {
  margin: 0 .25rem;
}

.board-list-wrap .board-table-wrap .co-4, .board-list-wrap .board-table-wrap .co-5, .board-list-wrap .board-table-wrap .co-6, .board-list-wrap .board-table-wrap .co-7, .board-list-wrap .board-table-wrap .co-8, .board-list-wrap .board-table-wrap .co-9 {
  display: none;
}

@media (min-width: 992px) {
  .board-list-wrap .board-table-wrap .co-4, .board-list-wrap .board-table-wrap .co-5, .board-list-wrap .board-table-wrap .co-6, .board-list-wrap .board-table-wrap .co-7, .board-list-wrap .board-table-wrap .co-8, .board-list-wrap .board-table-wrap .co-9 {
    display: table-cell;
  }
}

.board-list-wrap .board-table-wrap .co-4, .board-list-wrap .board-table-wrap .co-5, .board-list-wrap .board-table-wrap .co-6 {
  white-space: nowrap;
}

.board-list-wrap .board-table-wrap .sm-show .breadcrumb {
  padding: .1rem;
  background-color: transparent;
  margin: .5rem 0 0 0;
}

.board-list-wrap .board-table-wrap .sm-show .breadcrumb li {
  font-size: .75rem;
  color: #adb5bd;
}

.board-list-wrap .board-table-wrap .sm-show .breadcrumb li img {
  height: 12px;
  width: auto;
}

.board-list-wrap .board-table-wrap .sm-show .breadcrumb li a {
  color: #6c757d;
  font-weight: 600;
}

@media (min-width: 992px) {
  .board-list-wrap .board-table-wrap .sm-show {
    display: none;
  }
}

.board-list-wrap .board-table-wrap td {
  font-size: .85rem;
}

.board-list-wrap .board-table-wrap td a {
  font-size: .85rem;
}

.board-list-wrap .hidden {
  display: none;
}

/* 게시물 보기 */
.board-view-wrap .view-contents #bo_v_con {
  min-height: 200px;
}

.board-view-wrap #bo_v {
  margin: 0 auto;
}

.board-view-wrap .view-header {
  background-color: #f7f7f9;
  border-top: 2px solid #eceeef;
  padding: .5rem;
  border-bottom: 2px solid #f7f7f9;
}

.board-view-wrap .view-header h1 {
  font-size: 1.2rem;
  margin: 0;
  padding: .25rem;
  font-weight: 700;
}

.board-view-wrap .view-header h1 span {
  color: #007bff;
}

.board-view-wrap .writer-info::after {
  display: block;
  clear: both;
  content: "";
}

.board-view-wrap .file-attach, .board-view-wrap .link-list {
  max-width: 100%;
  margin-bottom: 2rem;
  margin-left: 0;
}

@media (min-width: 992px) {
  .board-view-wrap .file-attach, .board-view-wrap .link-list {
    max-width: 50%;
    margin-left: 2rem;
  }
}

.board-view-wrap .file-attach .list-group-item, .board-view-wrap .link-list .list-group-item {
  padding: .5rem 1.25rem;
  font-size: .75rem;
}

.board-view-wrap .file-attach .badge, .board-view-wrap .link-list .badge {
  margin: 0;
}

.board-view-wrap .view-buttons {
  overflow: hidden;
  margin-bottom: 2rem;
}

.board-view-wrap .view-buttons::after {
  display: block;
  clear: both;
  content: "";
}

.board-view-wrap .view-buttons span {
  display: none;
}

@media (min-width: 992px) {
  .board-view-wrap .view-buttons span {
    display: inline;
  }
}

.board-view-wrap .view-buttons .btn-group {
  margin-bottom: .75rem;
  overflow: hidden;
}

.board-view-wrap .view-contents-button {
  margin: 2rem auto;
}

.board-view-wrap .view-contents-button span {
  display: none;
}

@media (min-width: 768px) {
  .board-view-wrap .view-contents-button span {
    display: inline;
  }
}

.board-view-wrap #bo_v_sns {
  height: 50px;
  display: block;
  margin: 0;
  padding: 1rem;
  list-style: none;
  float: right;
}

.board-view-wrap #bo_v_sns li {
  display: inline-block;
}

.board-view-wrap #bo_v_bot {
  margin-top: 3rem;
}

/* 댓글 */
.comment-wrap {
  margin-top: 7rem;
}

.comment-wrap::after {
  display: block;
  clear: both;
  content: "";
}

.comment-wrap .empty-comment {
  text-align: center;
  padding: 2rem;
  background-color: #f7f7f9;
  margin-bottom: 2rem;
}

.comment-wrap .comment-box {
  margin-bottom: 1rem;
}

.comment-wrap .comment-box::after {
  display: block;
  clear: both;
  content: "";
}

.comment-wrap .comment-box .comment-content::after {
  display: block;
  clear: both;
  content: "";
}

.comment-wrap .comment-box .comment-content .comment-header {
  min-height: 0;
  background-color: #eceeef;
  border-left: 4px solid #cccccc;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  padding: .25rem .5rem;
}

.comment-wrap .comment-box .comment-content .comment-header::after {
  display: block;
  clear: both;
  content: "";
}

@media (min-width: 992px) {
  .comment-wrap .comment-box .comment-content .comment-header {
    min-height: 150px;
    padding: .75rem .5rem;
    line-height: 140%;
  }
}

.comment-wrap .comment-box .comment-content .comment-header .cmt-info {
  display: inline;
  font-size: .75rem;
}

@media (min-width: 992px) {
  .comment-wrap .comment-box .comment-content .comment-header .cmt-info {
    display: block;
  }
}

.comment-wrap .comment-box .comment-content .comment-header .cmt-info span {
  display: inline;
}

@media (min-width: 992px) {
  .comment-wrap .comment-box .comment-content .comment-header .cmt-info span {
    display: block;
  }
}

.comment-wrap .comment-box .comment-content .comment {
  position: relative;
  min-height: 150px;
  font-size: .85rem;
  padding: .75rem;
  background-color: #f7f7f9;
  padding-bottom: 3rem;
  line-height: 180%;
}

.comment-wrap .comment-box .comment-content .comment .comment-buttons {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.comment-wrap .comment-box .comment-content .comment .comment-buttons span {
  display: none;
}

@media (min-width: 768px) {
  .comment-wrap .comment-box .comment-content .comment .comment-buttons span {
    display: inline;
  }
}

/* 댓글*/
.comment-write-wrap::after {
  display: block;
  clear: both;
  content: "";
}

.comment-write {
  margin-left: 0;
  margin-right: 0;
  background-color: #f7f7f9;
  padding: 1rem .5rem;
}

@media (min-width: 992px) {
  .comment-write {
    padding: 1.5rem;
    margin-top: 2rem;
  }
}

.comment-write #bo_vc_sns {
  padding: 0;
  margin: 0;
  list-style: none;
}

.comment-write #bo_vc_sns li {
  float: left;
  display: block;
  padding: 0 1.5rem 0 0;
  position: relative;
}

.comment-write #bo_vc_sns li input {
  padding: .5rem;
  display: block;
  position: absolute;
  top: 7px;
  right: 5px;
}

.comment-content .comment-write {
  border-top: 1px solid #ccc;
  margin-top: 2rem;
}

@media (min-width: 992px) {
  .comment-content .comment-write {
    margin-left: 5%;
    margin-right: 5%;
    padding: 1.5rem;
    margin-top: 2rem;
  }
}

/* 새글 */
.write-wrap .autosave-wrap {
  display: none;
  position: relative;
  padding: .5rem;
  margin-top: .75rem;
  background-color: #eceeef;
}

.write-wrap .autosave-wrap ul {
  margin: .75rem;
  padding: 0;
  list-style: none;
  display: block;
}

.write-wrap .autosave-wrap ul li {
  font-size: .75rem;
}

.write-wrap .autosave-wrap .autosave_close {
  margin: 0;
  padding: 0;
}

.write-wrap #btn_autosave span.hidden-sm {
  display: none;
}

@media (min-width: 768px) {
  .write-wrap #btn_autosave span.hidden-sm {
    display: inline;
  }
}

.write-wrap .form-files {
  font-size: .75rem;
  color: #6c757d;
}

.write-wrap .form-files input[type=file] {
  margin-bottom: .2rem;
}

/* board view */
.board-info {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
}

@media (min-width: 768px) {
  .board-info {
    display: block;
    text-align: left;
  }
}

.board-info li {
  font-family: 'Montserrat';
  font-size: 10px;
  color: #adb5bd;
}

.board-info.board-write {
  text-align: center;
}

@media (min-width: 768px) {
  .board-info.board-write {
    display: block;
    text-align: left;
  }
}

/* Webzine board list */
.content-title-wrap {
  padding: 2rem 0;
  margin-bottom: 5rem;
  color: #e9ecef;
}

@media (min-width: 768px) {
  .content-title-wrap {
    padding: 4rem 0;
  }
}

.content-title-wrap h2 {
  font-family: "Noto Sans KR",sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 768px) {
  .content-title-wrap h2 {
    text-align: left;
  }
}

.content-title-wrap .left-side {
  text-align: center;
}

.content-title-wrap .board-share-wrap {
  position: relative;
  display: none;
}

@media (min-width: 768px) {
  .content-title-wrap .board-share-wrap {
    display: block;
  }
}

.content-title-wrap .board-share-wrap .board-share {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.content-title-wrap .board-share-wrap .board-share li a {
  display: block;
}

.content-title-wrap .board-share-wrap .board-share li a img {
  width: 30px;
  height: auto;
}

.content-title-wrap .mobile-share-wrap {
  display: block;
  position: relative;
}

@media (min-width: 768px) {
  .content-title-wrap .mobile-share-wrap {
    display: none;
  }
}

.content-title-wrap .mobile-share-wrap .fab-menu {
  -webkit-filter: url("#shadowed-goo");
          filter: url("#shadowed-goo");
}

.content-title-wrap .mobile-share-wrap .fab-menu-item, .content-title-wrap .mobile-share-wrap .fab-menu-open-button {
  background: #00bcd4;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: -40px;
  position: absolute;
  top: 5px;
  color: white;
  text-align: center;
  line-height: 2.5rem;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.content-title-wrap .mobile-share-wrap .fab-menu-open {
  display: none;
}

.content-title-wrap .mobile-share-wrap .hamburger {
  width: 18px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -9px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.content-title-wrap .mobile-share-wrap .hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.content-title-wrap .mobile-share-wrap .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.content-title-wrap .mobile-share-wrap .hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

.content-title-wrap .mobile-share-wrap .fab-menu-open:checked + .fab-menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}

.content-title-wrap .mobile-share-wrap .fab-menu-open:checked + .fab-menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.content-title-wrap .mobile-share-wrap .fab-menu-open:checked + .fab-menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}

.content-title-wrap .mobile-share-wrap .fab-menu {
  display: block;
  height: 2rem;
  margin-left: 3rem;
}

.content-title-wrap .mobile-share-wrap .fab-menu img {
  width: 1.6rem;
  height: 1.6rem;
}

.content-title-wrap .mobile-share-wrap .item-twitter {
  background-color: #55ACEE;
}

.content-title-wrap .mobile-share-wrap .item-twitter:hover {
  background-color: #55ACEE;
}

.content-title-wrap .mobile-share-wrap .item-facebook {
  background-color: #4C69BA;
}

.content-title-wrap .mobile-share-wrap .item-facebook:hover {
  background-color: #4C69BA;
}

.content-title-wrap .mobile-share-wrap .item-google {
  background-color: #DC4A38;
}

.content-title-wrap .mobile-share-wrap .item-google:hover {
  background-color: #DC4A38;
}

.content-title-wrap .mobile-share-wrap .item-kakao {
  background-color: #FDCC14;
}

.content-title-wrap .mobile-share-wrap .item-kakao:hover {
  background-color: #FDCC14;
}

.content-title-wrap .mobile-share-wrap .item-naver {
  background-color: #00C738;
}

.content-title-wrap .mobile-share-wrap .item-naver:hover {
  background-color: #00C738;
}

.content-title-wrap .mobile-share-wrap .fab-menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.content-title-wrap .mobile-share-wrap .fab-menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.content-title-wrap .mobile-share-wrap .fab-menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.content-title-wrap .mobile-share-wrap .fab-menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.content-title-wrap .mobile-share-wrap .fab-menu-item:nth-child(7) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.content-title-wrap .mobile-share-wrap .fab-menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.content-title-wrap .mobile-share-wrap .fab-menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.content-title-wrap .mobile-share-wrap .fab-menu-open:checked + .fab-menu-open-button {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
          transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.content-title-wrap .mobile-share-wrap .fab-menu-open:checked ~ .fab-menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.content-title-wrap .mobile-share-wrap .fab-menu-open:checked ~ .fab-menu-item:nth-child(3) {
  -webkit-transition-duration: 190ms;
          transition-duration: 190ms;
  -webkit-transform: translate3d(48px, 0, 0);
          transform: translate3d(48px, 0, 0);
}

.content-title-wrap .mobile-share-wrap .fab-menu-open:checked ~ .fab-menu-item:nth-child(4) {
  -webkit-transition-duration: 290ms;
          transition-duration: 290ms;
  -webkit-transform: translate3d(96px, 0, 0);
          transform: translate3d(96px, 0, 0);
}

.content-title-wrap .mobile-share-wrap .fab-menu-open:checked ~ .fab-menu-item:nth-child(5) {
  -webkit-transition-duration: 390ms;
          transition-duration: 390ms;
  -webkit-transform: translate3d(144px, 0, 0);
          transform: translate3d(144px, 0, 0);
}

.content-title-wrap .mobile-share-wrap .fab-menu-open:checked ~ .fab-menu-item:nth-child(6) {
  -webkit-transition-duration: 490ms;
          transition-duration: 490ms;
  -webkit-transform: translate3d(192px, 0, 0);
          transform: translate3d(192px, 0, 0);
}

.content-title-wrap .mobile-share-wrap .fab-menu-open:checked ~ .fab-menu-item:nth-child(7) {
  -webkit-transition-duration: 590ms;
          transition-duration: 590ms;
  -webkit-transform: translate3d(240px, 0, 0);
          transform: translate3d(240px, 0, 0);
}

/* List */
section.webzine-list-wrap .board-table-wrap th, section.webzine-list-wrap .board-table-wrap td {
  font-size: .75rem;
}

section.webzine-list-wrap .board-table-wrap th a, section.webzine-list-wrap .board-table-wrap td a {
  font-size: .75rem;
}

section.webzine-list-wrap .board-table-wrap td input[type=checkbox] {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  top: 3px;
}

section.webzine-list-wrap .sm-show {
  color: #6c757d;
}

/* View*/
.board-view-wrap .writer-info {
  font-size: .75rem;
}

/* 웹진 목록 */
.webzine-list-wrap {
  padding-bottom: 2rem;
}

.webzine-list-wrap::after {
  display: block;
  clear: both;
  content: "";
}

.webzine-list-wrap div.notice-grid {
  padding-top: 0;
  padding-bottom: 0;
}

.webzine-list-wrap div.notice-grid .alert {
  margin-bottom: .2rem;
  padding: .5rem .75rem;
  font-size: .75rem;
}

.webzine-list-wrap div.notice-grid .alert a {
  font-size: .75rem;
}

.webzine-list-wrap div.notice-grid div.img-hover-item {
  display: none;
}

@media (min-width: 768px) {
  .webzine-list-wrap div.notice-grid div.img-hover-item {
    display: inline-block;
  }
}

.webzine-list-wrap div.notice-grid div.img-hover-item a {
  font-size: .9rem;
}

.webzine-list-wrap div.notice-grid div.gall-info {
  display: inline-block;
  width: auto;
  padding: 0;
  white-space: inherit;
}

.webzine-list-wrap div.notice-grid a.gall-link {
  border: none;
}

.webzine-list-wrap div.notice-grid ul.write-info {
  display: inline-block;
}

.webzine-list-wrap #bo_list {
  margin: 0 auto;
}

.webzine-list-wrap .board-list-head::after {
  display: block;
  clear: both;
  content: "";
}

.webzine-list-wrap .board-list-head span {
  display: none;
}

@media (min-width: 768px) {
  .webzine-list-wrap .board-list-head span {
    display: inline;
  }
}

.webzine-list-wrap .board-info-wrap::after {
  display: block;
  clear: both;
  content: "";
}

.webzine-list-wrap .hidden {
  display: none;
}

.webzine-list-wrap .webzin-image {
  margin: 1rem auto;
  overflow: hidden;
}

.webzine-list-wrap .webzin-image a {
  display: block;
}

.webzine-list-wrap .webzin-image a img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.webzine-list-wrap .webzin-image a img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.webzine-list-wrap .webzine-info {
  margin: 1rem auto;
  font-size: .75rem;
  position: relative;
  padding-bottom: 1.5rem;
}

.webzine-list-wrap .webzine-info input[type=checkbox] {
  position: relative;
  top: 4px;
}

@media (min-width: 768px) {
  .webzine-list-wrap .webzine-info {
    padding-bottom: 0;
  }
}

.webzine-list-wrap .webzine-info .webzine-subject {
  font-size: .8rem;
}

.webzine-list-wrap .webzine-info .webzine-contents {
  padding: .5rem;
  font-size: .75rem;
  display: block;
  color: #adb5bd;
}

.webzine-list-wrap .webzine-info .write-info {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}

.webzine-list-wrap .webzine-info .write-info::after {
  display: block;
  clear: both;
  content: "";
}

.webzine-list-wrap .webzine-info .write-info li {
  list-style: none;
  float: left;
  display: block;
  padding: .25rem;
  color: #6c757d;
}

.webzine-list-wrap .webzine-info .write-info li a {
  font-weight: 600;
  color: #343a40;
}
/*# sourceMappingURL=board-webzine.css.map */