@charset "UTF-8";
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*
* css는 유료테마 ASKTHEME의 일부입니다. 불법복제시 불이익을 받을 수 있습니다.
* Index_onepage
*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#wrapper {
  height: 100%;
  position: relative;
}

#info-trigger .info-block {
  visibility: hidden;
}

a.spy-anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.contetns-list {
  display: block;
  position: relative;
}

/*
* 메뉴별 섹션
*/
.onepage-section {
  margin-top: 6rem;
}

.onepage-section .one-title-wrap {
  margin-bottom: 3rem;
}

.onepage-section .one-title-wrap .onepage-title {
  font-family: 'Noto Sans KR',sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin: 1.5rem 0;
  color: #6c757d;
  font-weight: 900;
  display: block;
  border-bottom: 2px solid #e9ecef;
  padding-bottom: 1rem;
}

.onepage-section .one-title-wrap .onepage-title span {
  font-size: 3.2rem;
  color: #000;
}

.onepage-section .one-title-wrap .onepage-title span.light {
  font-size: 3.2rem;
  color: #e9ecef;
}

#one-service .service-right .onepage-subtitle-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 45px;
}

@media (min-width: 768px) {
  #one-service .service-right .onepage-subtitle-wrap {
    margin-bottom: 20px;
    margin-top: 45px;
  }
}

@media (min-width: 992px) {
  #one-service .service-right .onepage-subtitle-wrap {
    margin-bottom: 5px;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  #one-service .service-right .onepage-subtitle-wrap {
    margin-bottom: 31px;
    margin-top: 0;
  }
}

#one-service .service-right .onepage-subtitle-wrap .os-title-left {
  font-size: 1.5rem;
  text-align: left;
  padding-right: .75rem;
  font-family: 'Noto Sans KR',sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0px;
  font-style: normal;
}

#one-service .service-right .onepage-subtitle-wrap .title-bar-container {
  position: relative;
  height: 6px;
  -ms-flex-grow: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

#one-service .service-right .onepage-subtitle-wrap .title-bar-container .title-bar {
  border-bottom: 1px dotted #ced4da;
}

#one-service .service-right p {
  font-size: .9rem;
}

@media (min-width: 768px) {
  #one-service .service-right p {
    font-size: 1em;
  }
}

@media (min-width: 992px) {
  #one-service .service-right p {
    font-size: .9rem;
  }
}

@media (min-width: 1200px) {
  #one-service .service-right p {
    font-size: 1em;
  }
}

#one-service .service-left .one-service-img {
  width: 100%;
  height: auto;
}

#one-service .one-service-card .flip-cards {
  text-align: center;
}

#one-service .one-service-card .front-card {
  background-color: #e9ecef;
  padding: 1.2rem;
}

#one-service .one-service-card .reverse-card {
  background-color: #495057;
  padding: 1.2rem;
  color: #fff;
}

#one-service .one-service-card .reverse-card .fa {
  color: #343a40 !important;
}

#one-service .one-service-card .reverse-card .round-icon-bg {
  background-color: #fff !important;
}

#one-service .one-service-card .flip-card-header {
  text-align: center;
  border-bottom: none;
  padding: .5rem;
}

#one-service .one-service-card .flip-card-header .fa {
  color: #f8f9fa;
}

#one-service .one-service-card .flip-card-header .round-icon-bg {
  width: 66px;
  height: 66px;
}

#one-service .one-service-card .flip-card-body {
  font-size: .75rem;
  padding-top: 0;
  padding: .5rem;
}

#one-service .one-service-card .flip-card-body .flip-card-title {
  text-align: center;
  font-family: "Noto Sans KR",sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/*
회사소개 부분 
*/
.intro-wrap {
  overflow: hidden;
  width: 100%;
}

.intro-wrap::after {
  display: block;
  clear: both;
  content: "";
}

@media (min-width: 992px) {
  .intro-wrap {
    margin-left: auto;
    margin-right: auto;
  }
}

.intro-wrap .intro-text-wrap {
  position: relative;
  overflow: hidden;
}

.intro-wrap .intro-text-wrap .intro-text {
  font-family: 'Noto Sans KR',sans-serif;
  padding: 4rem 0;
}

@media (min-width: 768px) {
  .intro-wrap .intro-text-wrap .intro-text {
    padding: 4rem 0 8rem 0;
  }
}

.intro-wrap .intro-text-wrap .intro-text h3.header-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #495057;
  text-align: center;
}

@media (min-width: 768px) {
  .intro-wrap .intro-text-wrap .intro-text h3.header-text {
    text-align: left;
  }
}

.intro-wrap .intro-text-wrap .intro-text h3.header-number {
  font-size: 1.8rem;
  font-weight: 400;
  color: #dee2e6;
  text-align: center;
}

@media (min-width: 768px) {
  .intro-wrap .intro-text-wrap .intro-text h3.header-number {
    font-size: 3rem;
    text-align: right;
    padding-right: 1rem;
  }
}

.intro-wrap .intro-text-wrap .intro-text h4 {
  font-size: 1.1rem;
  font-weight: 400;
  color: #6c757d;
  text-align: left;
}

@media (min-width: 768px) {
  .intro-wrap .intro-text-wrap .intro-text h4 {
    text-align: left;
    font-size: 1.3rem;
  }
}

.intro-wrap .intro-text-wrap .intro-text p {
  font-size: 1rem;
  font-weight: 400;
  color: #adb5bd;
  text-align: left;
}

@media (min-width: 768px) {
  .intro-wrap .intro-text-wrap .intro-text p {
    text-align: left;
  }
}

.intro-wrap .intro-text-wrap .intro-text .text1, .intro-wrap .intro-text-wrap .intro-text .text2, .intro-wrap .intro-text-wrap .intro-text .text3 {
  margin-bottom: 1rem;
  visibility: hidden;
}

@media (min-width: 992px) {
  .intro-wrap .intro-text-wrap .intro-text .text1, .intro-wrap .intro-text-wrap .intro-text .text2, .intro-wrap .intro-text-wrap .intro-text .text3 {
    margin-bottom: 0;
  }
}

.intro-wrap .ceo-wrap {
  position: relative;
  overflow: hidden;
}

.intro-wrap .ceo-wrap .ceo-block {
  visibility: hidden;
}

.intro-wrap .ceo-wrap .ceo-pic {
  padding-bottom: .75rem;
}

.intro-wrap .ceo-wrap .ceo-pic img {
  width: 100%;
  height: auto;
}

.intro-wrap .ceo-wrap .ceo-con .ceo-text p {
  font-size: 1rem;
  text-align: justify;
  color: #495057;
  line-height: 2rem;
}

@media (min-width: 768px) {
  .intro-wrap .ceo-wrap .ceo-con .ceo-text p {
    font-size: 1rem;
  }
}

.intro-wrap .ceo-wrap .ceo-con .ceo-text .ceo-sign {
  font-size: 1.15rem;
  font-weight: 600;
  text-align: right;
}

.intro-wrap .ceo-wrap .ceo-con .ceo-text .title-text {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: "Noto Sans KR",sans-serif;
  margin-bottom: 1rem;
}

.about-wrap #company-stats {
  padding: 3rem 0;
}

.ceo-bottom-wrap {
  position: relative;
  margin: 2rem auto;
  background-color: #f8f9fa;
  overflow: hidden;
  visibility: hidden;
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .ceo-bottom-wrap {
    margin-bottom: 5rem;
  }
}

.ceo-bottom-wrap .ceo-bottom-contents {
  visibility: hidden;
}

@media (min-width: 992px) {
  .ceo-bottom-wrap {
    margin: 5rem auto;
  }
}

.ceo-bottom-wrap div.bg-about {
  background-image: url("../img/bg-introduce2.jpg");
  min-height: 400px;
}

.ceo-bottom-wrap .header-number {
  font-size: 2rem;
  font-weight: 600;
  color: #ced4da;
  text-align: center;
  padding-right: 0;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .ceo-bottom-wrap .header-number {
    margin-top: 1rem;
  }
}

@media (min-width: 992px) {
  .ceo-bottom-wrap .header-number {
    font-size: 4rem;
    font-weight: 600;
    color: #ced4da;
    text-align: right;
    padding-right: .3rem;
    margin-top: 0;
  }
}

.ceo-bottom-wrap h4 {
  font-size: 1rem;
  color: #adb5bd;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .ceo-bottom-wrap h4 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .ceo-bottom-wrap h4 {
    font-size: 1.4rem;
  }
}

.ceo-bottom-wrap p {
  font-size: .8rem;
  line-height: 170%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .ceo-bottom-wrap p {
    font-size: .9rem;
    line-height: 180%;
    padding-right: .5rem;
  }
}

@media (min-width: 1200px) {
  .ceo-bottom-wrap p {
    font-size: 1rem;
    line-height: 190%;
    padding-right: .75rem;
  }
}

.company-stats {
  visibility: hidden;
  overflow: hidden;
}

.company-stats .about-items {
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .company-stats .about-items {
    margin-bottom: 0;
  }
}

.company-stats .fa {
  color: #6c757d;
}

.company-stats p {
  padding: .5rem 0 0 0;
  font-weight: 900;
  font-size: .95rem;
  color: #343a40;
  font-family: "Noto Sans KR",sans-serif;
}

.about-company {
  position: relative;
  margin-top: 2rem;
  /*  회사소개 parallax 배경이미지 처리 */
}

@media (min-width: 768px) {
  .about-company {
    margin-top: 5rem;
  }
}

.about-company .about-company-parallax {
  background-image: url(../img/bg_gray.jpg);
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow: hidden;
  min-height: 800px;
}

@media (min-width: 992px) {
  .about-company .about-company-parallax {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.about-company .about-company-parallax .section-header {
  padding-bottom: 5rem;
  visibility: hidden;
}

.about-company .about-company-parallax .section-header h2 {
  color: #fff;
  text-align: center;
  font-family: "Noto Sans KR",sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.about-company .about-company-parallax .section-header h2 span {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.about-company .about-company-parallax .section-header p {
  color: #fff;
  font-size: 1rem;
  text-align: justify;
}

.about-company .about-company-parallax .section-header p span {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.about-company .about-company-parallax .about-card {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

.about-company .about-company-parallax .about-card .card {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .about-company .about-company-parallax .about-card .card {
    margin-bottom: 0;
  }
}

.about-company .about-company-parallax .about-card .card .card-img-top {
  height: auto;
  min-height: auto;
  max-height: 261px;
}

@media (min-width: 992px) {
  .about-company .about-company-parallax .about-card .card .card-img-top {
    max-height: auto;
  }
}

.about-company .about-company-parallax .about-card .card .card-title {
  font-family: "Noto Sans KR",sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  color: #495057;
}

.about-company .about-company-parallax .about-card .card .card-text {
  font-size: .85rem;
  color: #6c757d;
}

.client-info {
  background-color: #fff;
  overflow: hidden;
  padding: 1.5rem 0;
  margin-bottom: 4rem;
}

.client-info .client-info-item {
  margin-bottom: 6rem;
}

.client-info .title-wrap {
  margin-top: 0;
}

.client-info .client-items {
  visibility: hidden;
  overflow: hidden;
}

.client-info .counter {
  background-color: #fff;
  margin: .5rem;
  -webkit-box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.05);
  -o-box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.05);
  padding: 1rem;
}

.client-info .count-title {
  font-size: 2rem;
  font-weight: normal;
  margin-top: .85rem;
  margin-bottom: 0;
  text-align: center;
}

.client-info .count-text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.client-info .fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #17a2b8;
  font-size: 4rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#portfolio-shuffle {
  margin-top: 2rem;
}

#portfolio-shuffle .portfolio-parallax {
  background-image: url(../img/bg-portfolio.jpg);
  padding-top: 3rem;
  padding-bottom: 6rem;
  overflow: hidden;
}

#customer-section {
  /* 오시는길 */
}

#customer-section td, #customer-section tr, #customer-section th {
  color: #e9ecef;
}

#customer-section .top-title {
  color: #ced4da;
}

#customer-section .form-footer {
  border-color: rgba(255, 255, 255, 0.3);
}

#customer-section .contact-parallax {
  background-image: url(../img/bg-contactus.jpg);
  padding-top: 3rem;
  padding-bottom: 8rem;
  overflow: hidden;
}

#customer-section .map-wrap {
  margin-top: 3rem;
}

#customer-section .map-wrap .section-header {
  text-align: center;
}

#customer-section .map-wrap .section-header h2 {
  color: #495057;
  text-align: center;
  font-family: "Noto Sans KR",sans-serif;
  font-weight: 900;
  font-size: 2rem;
  padding-bottom: 1rem;
}

#customer-section .map-wrap .section-header p {
  font-size: .85rem;
  color: #6c757d;
}

#customer-section .map-wrap .waytocom th {
  text-align: right;
}

#customer-section .map-wrap .waytocom td {
  text-align: left;
}

#customer-section .map-wrap .daum-map {
  text-align: center;
  margin: 3rem auto;
}

#customer-section .map-wrap .daum-map .root_daum_roughmap {
  width: 100%;
  margin: 0 auto;
}

#customer-section .map-wrap .daum-map .root_daum_roughmap .wrap_map {
  height: 400px;
}

@media (min-width: 768px) {
  #customer-section .map-wrap .daum-map .root_daum_roughmap .wrap_map {
    height: 600px;
  }
}

#customer-section .mail-form-wrap input, #customer-section .mail-form-wrap textarea {
  background-color: rgba(0, 0, 0, 0.8);
  color: #f8f9fa;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

#customer-section .mail-form-wrap input::-webkit-input-placeholder, #customer-section .mail-form-wrap textarea::-webkit-input-placeholder {
  color: #dee2e6;
}

#customer-section .mail-form-wrap input:-ms-input-placeholder, #customer-section .mail-form-wrap textarea:-ms-input-placeholder {
  color: #dee2e6;
}

#customer-section .mail-form-wrap input::-ms-input-placeholder, #customer-section .mail-form-wrap textarea::-ms-input-placeholder {
  color: #dee2e6;
}

#customer-section .mail-form-wrap input::placeholder, #customer-section .mail-form-wrap textarea::placeholder {
  color: #dee2e6;
}

@media (min-width: 992px) {
  #customer-section .mail-form-wrap input, #customer-section .mail-form-wrap textarea {
    background-color: rgba(0, 0, 0, 0.6);
    color: #f8f9fa;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}

#customer-section .mail-form-wrap .ask-captcha img {
  height: 38px;
  width: auto;
  margin-right: 5px;
}

#customer-section #captcha_info {
  background-color: transparent;
}

/* 협력업체 배너 */
section.banner-wrap {
  overflow: hidden;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  section.banner-wrap {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

section.banner-wrap .banner-swiper-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin: 1rem 0;
}

section.banner-wrap .banner-swiper-container::after {
  display: block;
  clear: both;
  content: "";
}

section.banner-wrap .banner-swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.banner-wrap .banner-swiper-container .swiper-button-next, section.banner-wrap .banner-swiper-container .swiper-button-prev {
  width: 25px;
  height: 20px;
  top: 55%;
}

section.banner-wrap .banner-swiper-container .swiper-pagination {
  bottom: -5px !important;
}
/*# sourceMappingURL=index_onepage.css.map */