.green{
	color : green;
}
.gray{
	color : gray;
}
.red{
	color : red;
}
.orange{
	color : orange;
}
.bitcoin{
	color : orange;
	height : 50px;
}
.m-left-text{
	margin-left : 250px;
}
@media only screen and (max-width: 1024px) {
    .m-left-text{
	margin-left : 11rem;
	}
}
.about .clients .client {
	height : 80px;
}
/* black theme */
/*
.wrapper{
	background-color : black;
}
.home .home-content p span{
	color : white;
}
.nav-icon{
	background-color:white;
}
.home .home-content .social{
	background-color:white;
}
*/
.logo-con{
	position: absolute;
}
.logo{
}
.logo-light{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: -5px 0px 0px 10px;
	animation: blinkingText 1.5s infinite;
	position: absolute;
	background-color: #ffff00;
}
@keyframes blinkingText{
	0%{     background-color: transparent;
                width: 10px;
                height: 10px;
                margin: 5px 0 0 20px;
		}
	49%{    background-color: rgba(255,255,0,0.5);  
		width: 30px;
                height: 30px;
                margin: -5px 0px 0px 9.5px;
	}
        50%{	background-color: rgb(255,255,0,0.5);
                width: 30px;
                height: 30px;
                margin: -5px 0px 0px 9.5px;
        }       
        /* 99%{    background-color: transparent;  } */
        100%{   background-color: transparent;
                width: 10px;
                height: 10px;
                margin: 5px 0 0 20px;
		}
}
